#ta1{
    background: url(https://i.ibb.co/RzCr7Kv/lining.png);
background-attachment: local;
background-repeat: no-repeat;
padding-left: 35px;
padding-top: 10px;
    border-color:rgb(33,38,45);
    background-color: rgb(33,38,45);
    color: white;
    height: 65vh;
    font-family: 'Nunito', sans-serif;



}

#input{
    
    background-color: rgb(33,38,45);
    color: white;
    width: 100%;
    min-width: 100%
    border-color:rgb(33,38,45);
    font-size:1vw;
    font-family: 'Nunito', sans-serif;
}

#output{
  
    background-color: rgb(33,38,45);
    color: white;
    font-size:1vw;
    
}

body {
   background-color: rgb(33,38,45);
}

 #navbar-custom { 
            background-color: rgb(29,33,39) !important;; 
        } 


 #label1
 {color: white;}

 #hr1
 {color:  rgb(29,33,39);
    background-color: rgb(29,33,39);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;

 }


.col-sm-1
{
    background-color: rgb(29,33,39) ;
    color: white;
    align-items: center;
    justify-content: center;
text-align: center;


}

